body {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px 20px;
  box-sizing: border-box;
}

.card {
  border: 1px solid #999999;
  display: flex;
  justify-content: space-evenly;
  width: 960px;
  margin: 40px auto;
}

.card .aside {
  width: 30%;
  background-color: #F3F3F3;
  padding: 40px 20px;
}

.card .aside h2 {
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  color: #333333;
  margin: 0px;
  font-size: 16px;
  text-transform: none; 
}

.card .aside h3 {
  margin: 25px 0px 0px;
  color: #666666;
  font-weight: 300;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

.card .content {
  width: 70%;
  text-align: center;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.card .content ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  /* justify-content: space-evenly; */
  /* justify content not needed because 25% width given to li below */
  width: 100%;
}

.card .content li {
  width: 25%;
}

.card .content li p {
  color: #333333;
  margin: 0px 0px 25px;
  text-transform: none; 
  font-size: 14px;
}

.card .content li label {
  color: #AAAAAA;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.75px;
}

@media (max-width: 1000px) {
  .card {
    display: block;
    width: 100%;
    margin: 40px 0px;
  }

  .card .aside {
    width: 90%;
    padding: 40px 5%;
  }

  .card .content {
    width: 90%;
    padding: 0px 5%;
    display: block;
  }

  .card .content ul {
    display: block;
  }

  .card .content li {
    width: 100%;
    margin: 20px 0px;
  }

  .card .content li p {
    margin: 0px 0px 10px;
  }
}
